@page "/addstudent"
@rendermode InteractiveServer
@inherits AddBase;

<PageTitle>Add Student</PageTitle>

<h1>Add Student</h1>

<input type="text" placeholder="Student Name" required class="form-control" @bind="studentName">
<input type="text" placeholder="Student Class" required class="form-control" @bind="studentClass">
<br>
<button type="submit" class="btn btn-primary" @onclick="AddStudent">Add Entry</button>

<p role="status">@status</p>
