@page "/addteacher"
@rendermode InteractiveServer
@inherits AddBase;

<PageTitle>Add Teacher</PageTitle>

<h1>Add Teacher</h1>

<input type="text" placeholder="Teacher Name" required class="form-control" @bind="teacherName">
<input type="text" placeholder="Teacher Subjects (seperate using WHITESPACE)" required class="form-control" @bind="subjects">

<button type="submit" class="btn btn-primary" @onclick="AddTeacher">Add Entry</button>

<p role="status">@status</p>
