@page "/search"
@rendermode InteractiveServer
@inherits SearchBase;

<PageTitle>Search</PageTitle>

<h1>Search</h1>

<input type="text" placeholder="Name" required class="form-control" @bind="name">
<br>
<button type="submit" class="btn btn-primary" @onclick="SearchPeople">Search</button>

<ul>
    @foreach (var person in people) {
        <li>@person</li>
    }
</ul>
